.info {
    text-align: center;
    line-height: 45px;

    &__email {
        color: #8f8f8f;
        font-size: .75em;
    }

    &__phone {
        margin-left: 28px;
        font-family: $ffPFAgoraSlabPro;
        color: #333333;
        font-size: 1.5em;
    
        .orange {
            color: $orange;
        }

        @include respond-to(tablet){
            font-size: 1em;
        }
    }
}

.header {
    position: relative;
    padding-top: 30px;
    padding-bottom: 141px;
    background-image: url("../img/top_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    @include respond-to(phone-lend) {
        padding-bottom: 80px;
    }
    
    &__btn {
        display: inline-block;
        min-width: 268px;
        margin-top: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        border: 5px solid #2c3a5a;
        border-radius: 8px;
        background-color: $orange;
        font-family: $ffOpenSans-Bold;
        text-align: center;
        color: white;
        text-transform: uppercase;
        vertical-align: middle;
        transition: $tr3s;

        &:hover {
            text-decoration: inherit;
            color: inherit;
        }
    }

    .logo {
        display: inline-block;
        width: 137px;

        @include respond-to(phone-lend) {
            width: 80px;
        }

        img {
            display: block;
            width: 100%;
        }
    }
}

.site-nav__menu-trigger {
    position: absolute;
    top: -80px;
    right: 30px;
    cursor: pointer;
    font-size: 2em;

    @include respond-to(tablet) {
        top: -40px;
    }
}

.header-menu {
    float: right;
    margin-bottom: 210px;
    color: white;
    list-style: none;
    
    &__el {
        display: inline;
        margin-left: 76px;

        @media screen and (max-width: 1200px) {
            margin-left: 30px;
        }
    }
    
    &__link {
        border-bottom: thin solid transparent;
        font-size: .875em;
        color: white;
        text-transform: uppercase;

        &:hover {
            border-bottom-color: $orange;
            color: inherit;
            text-decoration: none;
        }
    }

    @media screen and (max-width: 992px) {

        & {
            display: none;
            width: 100%;
            padding: 0;
            margin-bottom: 10px;
        }

        &__el {
            display: block;
            width: 100%;
            margin: 20px 0;
            border-top: 1px solid whitesmoke;
            text-align: center;
        }

        &__link {
            display: block;
            margin: auto;
            padding-top: 20px;
            text-align: center;
            font-size: 1.2em;

            &:hover {
                text-decoration: none;
                border-bottom-color: transparent;
            }
        }
    }
}

.header-list {
    margin-top: 50px;
    list-style-image: url('../img/check_mark.png');
    font-family: $ffPFAgoraSlabPro;
    color: #a8b0c7;
    font-size: 1.5em;
    line-height: 36px;

    &__el {
        padding-left: 10px;
    }
}

.header__images {
    position: absolute;
    bottom: -40px;
    height: 100%;

    @media screen and (max-width: 1200px) {
        bottom: -110px;
    }
}

.header__img {
    position: absolute;

    &--rect {
        width: 500px;
        height: 669px;
        border: 18px solid #2f3e5f;
        border-bottom: none;
        bottom: -584px;
        right: 105px;
        box-sizing: border-box;
        background-color: rgba(36, 43, 66, 0);
        z-index: 1;

        @media screen and (max-width: 1200px) {
            right: 50px;
            bottom: -586px;
            height: 550px;
            width: 440px;
        }
    }

    &--meat {
        width: 400px;
        top: -70px;
        right: 140px;
        z-index: 2;

        @media screen and (max-width: 1200px) {
            top: 83px;
            right: 90px;
            height: 500px;
            width: auto;
        }
    }

    &--green1 {
        top: -80px;
        left: -80px;
        z-index: 4;

        @media screen and (max-width: 1200px){
            top: -12px;
        }
    }

    &--green2 {
        bottom: -440px;
        right: 116px;
        z-index: 3;

        @media screen and (max-width: 1200px){
            bottom: -555px;
            right: 46px;
        }
    }
    &--mushrooms {
        top: 100px;
        right: 0;
        z-index: 5;
    }

    &--pepper1 {
        width: 110px;
        left: -80px;
        top: 150px;
        z-index: 6;
    }

    &--pepper2 {
        left: -50px;
        bottom: -405px;
        z-index: 7;
    }

    &--spice1 {
        right: 170px;
        bottom: -520px;
    }

    &--spice2 {
        right: 80px;
        bottom: -485px;
        z-index: 8;
    }

    &--spice3 {
        right: 150px;
        bottom: -490px;
        z-index: 9;
    }

    &--spice4 {
        right: 133px;
        bottom: -361px;
        z-index: 10;
    }

    @media screen and (max-width: 1050px) {
        &:not(&--meat) {
            display: none;
        }

        &--meat {
            top: 50px;
            height: 500px;
            width: auto;
        }
    }
}