.recipes-list {
    height: 420px;
    text-align: center;
    padding-top: 60px;
    .section__title {
        margin-top: 10px;
    }
}

.resipes-type {
    text-align: center;
    &__icon {}
    &__description {
        font-family: $ffPFAgoraSlabPro;
        font-size: 1.125em;
        margin-top: 100px;
    }
}