.recipes-list {
    padding-top: 70px;
    padding-bottom: 40px;
    text-align: center;

    @include respond-to(phone-lend) {
        padding-top: 40px;
    }   

    .section__title {
        margin-top: 10px;
    }
}

.recipes-type {
    text-align: center;
    margin-top: 70px;

    @include respond-to(tablet) {
        margin-top: 30px;
    }

    &__icon {
        width: 53px;
        height: 53px;
    }

    &__description {
        font-family: $ffPFAgoraSlabPro;
        font-size: 1.125em;
        margin-top: 36px;
    }
}