.recipes-list {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 40px;
    .section__title {
        margin-top: 10px;
    }
}

.recipes-type {
    text-align: center;
    margin-top: 70px;
    &__icon {}
    &__description {
        font-family: $ffPFAgoraSlabPro;
        font-size: 1.125em;
        margin-top: 36px;
    }
}