#solutions {
    padding-top: 65px;
}

.solutions-set {
    margin-top: 70px;
}

.solution {
    text-align: center;
    margin: 0;
    margin-bottom: 65px;
    

    &__img-block {
        height: 300px;
        
    }

    &__desc {
        font-family: $ffPFAgoraSlabPro;
        color:  #333333;
    }

    &__btn {
        margin-top: 20px;
        display: inline-block;
        border-radius: 8px;
        border: thin solid #d8d9db;
        background-color: rgba(235, 145, 79, 0);
        min-width: 248px;
        font-family: $ffOpenSans-Bold;
        color:  #162441;
        font-size: .875em;
        text-transform: uppercase;
        padding: 15px 20px;
        text-align: center;
        transition: $tr3s;
        &:hover {
            color: #ffffff;
            text-decoration: none;
            background-color: #162441;
        }

        @media screen and (max-width: 1200px){
            min-width: 200px;
            padding: 10px 12px;
        }
    }
}