.dev-stages {
    position: relative;
    padding: 80px 0;
    text-align: center;
}

.slider {
    margin: auto;
    text-align: center;
}

.slide {
    padding-top: 80px;
    &__icon {
        display: block;
        margin: auto;
        height: 108px;
        width: 108px;
    }
    &__desc {
        padding: 50px 60px;
        background-color: rgba(255, 255, 255, 0);
        margin-top: 30px;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.09);
        font-family: $ffPFAgoraSlabPro;
        margin-right: 40px;
        margin-left: 40px;
        color: #666666;
        background-color: #ffffff;

        @include respond-to(tablet) {
            padding: 10px;
        }
    }
}

.control {
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: #c0c3ca;
    box-sizing: border-box;
    margin-top: 30px;
    background-color: rgba(250, 140, 105, 0);
    width: 46px;
    height: 46px;
    transition: $tr3s;
    margin-left: 10px;
    &:hover {
        background-color: #162441;
    }
    .icon {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        margin: auto;
        background-image: url('../img/gray_switch.png');
        background-position: center;
    }
}

#left-img {
    position: absolute;
    left: 0;
    top: 200px;
}

#right-img {
    position: absolute;
    right: 0;
    top: 200px;
}