%reset_link {
    text-decoration: none;
    outline: none;
    border: none;
}

@function strip-units($number) {
    @return $number / ($number * 0 + 1);
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.hidden-lg {
    @include respond-to(wide) {
        display: none;
    }
}

.hidden-md {
    @include respond-to(desktop) {
        display: none;
    }
}

.hidden-sm {
    @include respond-to(tablet) {
        display: none;
    }
}

.hidden-xs {
    @include respond-to(mobile) {
        display: none;
    }
}
