.icon {
    display: inline-block;
}

.icon-icon1,
.icon-icon1\:regular {
    background-image: url('../img/icons.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 53px;
    height: 52px
}

.icon-icon2,
.icon-icon2\:regular {
    background-image: url('../img/icons.svg');
    background-position: 0 -52px;
    background-repeat: no-repeat;
    width: 56px;
    height: 48px
}

.icon-icon3,
.icon-icon3\:regular {
    background-image: url('../img/icons.svg');
    background-position: 0 -100px;
    background-repeat: no-repeat;
    width: 50px;
    height: 47px
}

.icon-icon4,
.icon-icon4\:regular {
    background-image: url('../img/icons.svg');
    background-position: 0 -147px;
    background-repeat: no-repeat;
    width: 59px;
    height: 56px
}

.icon-next,
.icon-next\:regular {
    background-image: url('../img/icons.svg');
    background-position: 0 -203px;
    background-repeat: no-repeat;
    width: 7px;
    height: 12px
}

.icon-prev,
.icon-prev\:regular {
    background-image: url('../img/icons.svg');
    background-position: 0 -203px;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    width: 7px;
    height: 12px
}