// Media width
$phone: 320px;
$small: 750px;
$large: 1000px;
$wide: 1100px;


//Fonts
$ffOpenSans-Regular: 'OpenSans-Regular', sans-serif;
$ffOpenSans-Semibold: 'OpenSans-Semibold', sans-serif;
$ffOpenSans-Bold: 'OpenSans-Bold', sans-serif;
$ffPFAgoraSlabPro: 'PFAgoraSlabPro', sans-serif;

$tr3s: ease all 0.3s;