<section class="section additional">
    <div class="container">
        <div class="row">
            <h2 class="section__title section__title--primary">Дополнительно мы предлагаем</h2>
            <h4 class="section__title section__title--secondary">натуральную оболочку</h4>
        </div>
        <div class="row">
            <div class="card col-lg-4">
                <h4 class="card__title"><b></b></h4>
                <hr class="card__hr">
                <table class="card__table">
                    <tr>
                        <th>Черева</th>
                        <th>Синюга</th>
                        <th>Круга</th>
                    </tr>
                    <tr>
                        <td>38/40</td>
                        <td>45/50</td>
                        <td>38/40</td>
                    </tr>
                    <tr>
                        <td>40/43</td>
                        <td>50/55</td>
                        <td>40/43</td>
                    </tr>
                    <tr>
                        <td>43/46</td>
                        <td>55/60</td>
                        <td>43/46</td>
                    </tr>
                    <tr>
                        <td>46+</td>
                        <td></td>
                        <td>46+</td>
                    </tr>
                </table>
            </div>
            <div class="card col-lg-4">
                <h4 class="card__title"><b></b></h4>
                <hr class="card__hr">
                <table class="card__table">
                    <tr>
                        <th>Черева</th>
                    </tr>
                    <tr>
                        <td>32/34</td>
                    </tr>
                    <tr>
                        <td>34/36</td>
                    </tr>
                    <tr>
                        <td>36/38</td>
                    </tr>
                    <tr>
                        <td>38/40</td>
                    </tr>
                    <tr>
                        <td>40/42</td>
                    </tr>
                    <tr>
                        <td>42/45</td>
                    </tr>
                    <tr>
                        <td>45+</td>
                    </tr>
                </table>
            </div>
            <div class="card col-lg-4">
                <h4 class="card__title"><b></b></h4>
                <hr class="card__hr">
                <table class="card__table">
                    <tr>
                        <th>Черева</th>
                    </tr>
                    <tr>
                        <td>18/20</td>
                    </tr>
                    <tr>
                        <td>20/22</td>
                    </tr>
                    <tr>
                        <td>22/24</td>
                    </tr>
                    <tr>
                        <td>24/26</td>
                    </tr>
                    <tr>
                        <td>26/28</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>