<section class="section additional">
    <div class="container">
        <div class="row">
            <h2 class="section__title">Дополнительно мы предлагаем</h2>
            <div class="section__subtitle section__subtitle--gray">натуральную оболочку</div>
        </div>
        <div class="row additional__cards-wrapper">
            <div class="card col-lg-4">
                <div class="card__title">Говяжья<span class="card__caliber"> Калибр</span></div>
                <table class="card__table">
                    <tr>
                        <th class="padding">Черева</th>
                        <th class="card__top-line">Синюга</th>
                        <th class="padding">Круга</th>
                    </tr>
                    <tr>
                        <td>38/40</td>
                        <td>45/50</td>
                        <td>38/40</td>
                    </tr>
                    <tr>
                        <td>40/43</td>
                        <td>50/55</td>
                        <td>40/43</td>
                    </tr>
                    <tr>
                        <td>43/46</td>
                        <td>55/60</td>
                        <td>43/46</td>
                    </tr>
                    <tr>
                        <td>46+</td>
                        <td></td>
                        <td>46+</td>
                    </tr>
                </table>
            </div>
            <div class="card col-lg-4">
                <div class="card__title">Свиная<span class="card__caliber"> Калибр</span></div>
                <table class="card__table">
                    <tr>
                        <th class="card__top-line">Черева</th>
                    </tr>
                    <tr>
                        <td>32/34</td>
                    </tr>
                    <tr>
                        <td>34/36</td>
                    </tr>
                    <tr>
                        <td>36/38</td>
                    </tr>
                    <tr>
                        <td>38/40</td>
                    </tr>
                    <tr>
                        <td>40/42</td>
                    </tr>
                    <tr>
                        <td>42/45</td>
                    </tr>
                    <tr>
                        <td>45+</td>
                    </tr>
                </table>
            </div>
            <div class="card col-lg-4">
                <div class="card__title">Баранья<span class="card__caliber"> Калибр</span></div>
                <table class="card__table">
                    <tr>
                        <th class="card__top-line">Черева</th>
                    </tr>
                    <tr>
                        <td>18/20</td>
                    </tr>
                    <tr>
                        <td>20/22</td>
                    </tr>
                    <tr>
                        <td>22/24</td>
                    </tr>
                    <tr>
                        <td>24/26</td>
                    </tr>
                    <tr>
                        <td>26/28</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>