<section class="section">
	<div class="container">
		<div class="row">
			<h2 class="section__title">наши адреса</h2>
			<div class="section__subtitle">офиса и склада</div>
		</div>
		<div class="map">
			<script class="map__img" type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A27929906fde3dfc4ffce29196febf7a16102457a351ca55dc7107663c091727e&amp;width=100%25&amp;height=454&amp;lang=ru_UA&amp;scroll=true"></script>
			<address class="map__info">
				г. Москва,<br> ул. Щелковское шоссе<br> д.2А
				<br>
				<div class="map__text-bold">Работаем по будням</div>
				с 9:00 - 21:00
			</address>
		</div>
</section>

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<a class="logo" href="#">
					<img src="./img/logo.png" alt="agira">
				</a>
			</div>
			<div class="col-lg-4">
				<div class="info">
					<a class="info__email" href="mailto:sales@agira-ingr.ru">sales@agira-ingr.ru</a>
					<a class="info__phone" href="tel:+7 495 231 49 88">
						<b>+7 495</b> 231 49 88
					</a>
				</div>
			</div>
			<div class="col-lg-4">
				<address>
					<div>ООО "Агира Ингридиентс"</div>
					<div>ИНН 7719422131 КПП 771901001 </div>
					<div>ОГРН 1157746763844</div>
				</address>
			</div>
		</div>
	</div>
</footer>


<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="./js/main.js"></script>
</body>

</html>