<section class="section">
	<div class="container">
		<div class="row">
			<h2 class="section__title section__title--primary">наши адреса</h2>
			<h4 class="section__title section__title--secondary">офиса и склада</h4>
		</div>
		КАРТА
	</div>
</section>

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<a class="logo" href="#">
					<img src="./img/logo.png">
				</a>
			</div>
			<div class="col-lg-4">
				<div class="info">
					<small class="info__email">sales@agira-ingr.ru</small>
					<a class="info__phone" href="tel:+7 495 231 49 88">
						<span class="orange">+7 495</span>231 49 88
					</a>
				</div>
			</div>
			<div class="col-lg-4">
				<address class="vcard">
					<div>ООО "Агира Ингридиентс"</div>
					<div>ИНН 7719422131 КПП 771901001 </div>
					<div>ОГРН 1157746763844</div>
				</address>
			</div>
		</div>
	</div>
</footer>


<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>