<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Агира</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="info">
    <small class="info__email">sales@agira-ingr.ru</small>
    <a class="info__phone" href="tel:+7 495 231 49 88">
        <span class="orange">+7 495</span>231 49 88
    </a>
</div>

<header class="header">
    <div class="container">
        <div class="row">
            <a class="logo col-lg-2" href="#">
                <img src="./img/logo.png">
            </a>
            <nav class="col-lg-offset-1 col-lg-9">
                <ul class="header-menu">
                    <li class="header-menu__el"><a class="header-menu__link" href="#recipes">рецепты “под ключ”</a></li>
                    <li class="header-menu__el"><a class="header-menu__link" href="#solutions">готовые решения</a></li>
                    <li class="header-menu__el"><a class="header-menu__link" href="#">этапы разработки рецептов</a></li>
                </ul>
            </nav>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h1>Улучшим ваши <br>мясные изделия</h1>
                <ul class="header-list">
                    <li class="header-list__el">Увеличим срок хранения</li>
                    <li class="header-list__el">Улучшим вкусовые качества</li>
                    <li class="header-list__el">Изменим плотность продукта</li>
                    <li class="header-list__el">Cократим себестоимость</li>
                </ul>
                <a class="header__btn" href="#">оставить заявку</a>
            </div>
            <div class="header__images col-lg-6 hidden-lg">
                <img class="header__img header__img-rect" src="./img/rect.png">
                <img class="header__img header__img-meat" src="./img/meat.png">
                <img class="header__img header__img-green1" src="./img/greenery1.png">
                <img class="header__img header__img-green2" src="./img/greenery2.png">
                <img class="header__img header__img-mushrooms" src="./img/mushrooms.png">
                <img class="header__img header__img-pepper1" src="./img/pepper1.png">
                <img class="header__img header__img-pepper2" src="./img/pepper2.png">
                <img class="header__img header__img-spice1" src="./img/spice1.png">
                <img class="header__img header__img-spice2" src="./img/spice2.png">
                <img class="header__img header__img-spice3" src="./img/spice3.png">
                <img class="header__img header__img-spice4" src="./img/spice4.png">
            </div>
        </div>
    </div>
</header>
