<section class="section order">
    <div class="container">
        <div class="row">
            <h2 class="section__title section__title--primary">Оставьте заявку</h2>
            <h4 class="section__title section__title--secondary">и мы предложим решение и для вас!</h4>
            <hr class="section__hr">
            <p class="section__desc">Под каждое изделие разрабатывается<br> индивидуальная рецептура, исходя из его<br> химических и физических свойств.</p>
        </div>
        //= ./form.html
    </div>
</section>