<div class="popup-wrapper hidden popup1 solution-popup-4">
    <div class="popup1__content">
        <h2 class="popup1__title">Препараты для паштетов и ливерных колбас</h2>
        <a class="close-btn" href="#"><img src="../img/close-icon.png"></a>

        <table>
            <tr>
                <th>Наименование</th>
                <th>Направление вкусa</th>
                <th>Назначение</th>
            </tr>
            <tr>
                <td><b>Галаливер Аденнер</b></td>
                <td>лук, паприка, перец, орегано</td>
                <td>Комплексная вкусоароматическая добавка для паштетов с мажущейся структурой с включениями специй</td>
            </tr>
            <tr>
                <td><b>Гала Ливер Львовский</b></td>
                <td>перец, имбирь, корица, мускат</td>
                <td>Комплексная вкусоароматическая добавка для паштетов с мажущейся структурой с включениями специй</td>
            </tr>
            <tr>
                <td><b>Гала Ливер Сырно-грибной</b></td>
                <td>сыр, грибы, корица, гвоздика</td>
                <td>Комплексная вкусоароматическая добавка для паштетов с мажущейся структурой с включениями специй</td>
            </tr>
            
        </table>

        <section class="section">
            <h2 class="section__title">Запросить каталог всех ингридиентов</h2>
            <div class="section__subtitle section__subtitle--gray">и мы предложим вам варианты<br> по улучшению свойств вашего продукта</div>
            //= form.html
        </section>
    </div>
</div>