<div class="popup-wrapper popup2 hidden">
    <section class="section popup2__content">
        <a class="close-btn" href="#"><img src="../img/close-icon.png"></a>
        <h2 class="section__title">Оставьте заявку</h2>
        <div class="section__subtitle section__subtitle--gray">и мы предложим вам варианты<br> по улучшению свойств вашего продукта</div>
        //= form.html
    </section>
</div>
<div class="popup-wrapper popup-thank hidden">
    <section class="section popup2__content">
        <a class="close-btn" href="#"><img src="../img/close-icon.png"></a>
        <h2 class="section__title">Спасибо!</h2>
        <div class="section__subtitle section__subtitle--gray">Заявка отправлена,<br> с вами скоро свяжутся наши сотрудники.</div>
    </section>
</div>