<div class="popup-wrapper hidden popup1 solution-popup-8">
    <div class="popup1__content">
        <h2 class="popup1__title">Препараты для рубленных полуфабрикатов и пельмений</h2>
        <a class="close-btn" href="#"><img src="../img/close-icon.png"></a>

        <table>
            <tr>
                <th>Наименование</th>
                <th>Направление вкусa</th>
                <th>Назначение</th>
            </tr>
            <tr>
                <td><b>Пельмени Сливочные</b></td>
                <td>сливки, перец, чеснок</td>
                <td>Композиции специй для пельменей и котлет</td>
            </tr>
           <tr>
                <td><b>Галамикс Пельмени ММО</b></td>
                <td>молоко, карри</td>
                <td>Применяется для производства начинки пельменей из фарша ММО</td>
            </tr>
             <tr>
                <td><b>Котлеты Московские</b></td>
                <td>черный перец</td>
                <td>Комбинация вкусо-ароматических и функциональных компонентов для производства котлет</td>
            </tr>
             <tr>
                <td><b>Галамикс Котлеты ММО</b></td>
                <td>мясо, имбирь, кардамон, перец</td>
                <td>Комбинация вкусо-ароматических и функциональных компонентов для производства котлет из фарша ММО</td>
            </tr>
             <tr>
                <td><b>Улучшитель теста</b></td>
                <td>мясной</td>
                <td>Препарат для производства теста на пельмени и т.п. Придает тесту плотность при варке, повторном разогреве, уменьшает прилипание теста к оборудованию</td>
            </tr>
             
        </table>

        <section class="section">
            <h2 class="section__title">Запросить каталог всех ингридиентов</h2>
            <div class="section__subtitle section__subtitle--gray">и мы предложим вам варианты<br> по улучшению свойств вашего продукта</div>
            //= form.html
        </section>
    </div>
</div>