<div class="popup-wrapper hidden popup1 solution-popup-6">
    <div class="popup1__content">
        <h2 class="popup1__title">Размягчение шкурки, Подготовка оболочки, Шприцевание полуфабрикатов</h2>
        <a class="close-btn" href="#"><img src="../img/close-icon.png"></a>

        <table>
            <tr>
                <th>Наименование</th>
                <th>Направление вкусa</th>
                <th>Назначение</th>
            </tr>
            <tr>
                <td><b>Дерма Актив</b></td>
                <td>кислый</td>
                <td>Препарат для размягчения свиной шкурки и одновременно для освежения вкуса шкурки</td>
            </tr>
           <tr>
                <td><b>Коллаген Актив</b></td>
                <td>без вкуса</td>
                <td>Препарат для размягчения свиной шкурки и пищевой жилки</td>
            </tr>
            <tr>
                <td><b>Эластин Макс</b></td>
                <td>кислый</td>
                <td>Препарат для обработки белковых колбасных оболочек. Улучшает микробиологию, делает оболочку более пористой и предотвращает замасливание</td>
            </tr>
            <tr>
                <td><b>Протеин Повер</b></td>
                <td>слабо кислый</td>
                <td>Специальный препарат придающий эластичность натуральным и белковым оболочкам и предотвращающий развитие плесени и грибков</td>
            </tr>
            <tr>
                <td><b>Гравицап</b></td>
                <td>без вкуса</td>
                <td>Препарат для шприцевания  всех видов натуральных полуфабрикатов, филе и тушек птицы до 25 %</td>
            </tr>
             <tr>
                <td><b> Гравицап НР</b></td>
                <td>лимон</td>
                <td>Препарат для шприцевания  всех видов натуральных полуфабрикатов, филе и тушек птицы до 35 %</td>
            </tr>
             <tr>
                <td><b>Гравицап Универсал</b></td>
                <td>цитрус</td>
                <td>Препарат для шприцевания  всех видов натуральных полуфабрикатов, филе и тушек птицы до 50 %</td>
            </tr>
             <tr>
                <td><b> Гравицап АИ</b></td>
                <td>без вкуса</td>
                <td>Предназначен для массирования всей мясной продукции, в том числе производимой из домашней птицы</td>
            </tr>
            
        </table>

        <section class="section">
            <h2 class="section__title">Запросить каталог всех ингридиентов</h2>
            <div class="section__subtitle section__subtitle--gray">и мы предложим вам варианты<br> по улучшению свойств вашего продукта</div>
            //= form.html
        </section>
    </div>
</div>