<div class="popup-wrapper hidden popup1 solution-popup-2">
    <div class="popup1__content">
        <h2 class="popup1__title">Препараты для копченых колбас</h2>
        <a class="close-btn" href="#"><img src="../img/close-icon.png"></a>

        <table>
            <tr>
                <th>Наименование</th>
                <th>Направление вкусa</th>
                <th>Назначение</th>
            </tr>
            <tr>
                <td><b>Галамикс Краковская</b></td>
                <td>перец, кориандр, мацис</td>
                <td>Комплексная вкусо-ароматическая композиция для полукопченых колбас типа Краковской</td>
            </tr>
            <tr>
                <td><b>Галамикс Краковская комби</b></td>
                <td>перец, кориандр, мацис</td>
                <td>Комплексная вкусо-ароматическая композиция для полукопченых и варено-копченых колбас</td>
            </tr>
            <tr>
                <td><b>Галамикс Венская</b></td>
                <td>перец, чеснок, кориандр</td>
                <td>Комплексная вкусо-ароматическая композиция для полукопченых и варено-копченых колбас</td>
            </tr>
            <tr>
                <td><b>Галамикс Венская комби</b></td>
                <td>перец, чеснок, кориандр</td>
                <td>Комплексная вкусо-ароматическая композиция для полукопченых и варено-копченых колбас</td>
            </tr>
            <tr>
                <td><b>Галамикс Готтингер</b></td>
                <td>перец, кориандр, мускат, тмин</td>
                <td>Комплексная вкусо-ароматическая композиция для полукопченых колбас</td>
            </tr>
            <tr>
                <td><b>Галамикс Сельская Комби</b></td>
                <td> мускат, белый перец</td>
                <td>Комплексная вкусо-ароматическая композиция для производства вареных салями и полукопченых  колбас, с усиленным цветообразованием, стабилизацией окраски и натуральным пищевым красителем</td>
            </tr>
            <tr>
                <td><b>Галамикс Восточная</b></td>
                <td>Чеснок, паприка, куркума, перец</td>
                <td>Комплексная вкусо-ароматическая композиция для производства мясных продуктов типа "Чивапчичи"</td>
            </tr>
            <tr>
                <td><b>Галамикс п/к из ММО</b></td>
                <td>Чеснок, кориандр</td>
                <td>Комбинация вкусо-ароматических и функциональных компонентов для производства колбасных изделий из мяса кур механической обвалки (ММО)</td>
            </tr>
            <tr>
                <td><b>Галамикс Украинская</b></td>
                <td>Чеснок, смесь перцев</td>
                <td>Комплексная вкусо-ароматическая композиция для производства мясных продуктов</td>
            </tr>
             <tr>
                <td><b>Галамикс Украинская комби</b></td>
                <td>Чеснок, смесь перцев</td>
                <td>Комплексная вкусо-ароматическая композиция для производства мясных продуктов</td>
            </tr>
             <tr>
                <td><b>Галамикс Одесская</b></td>
                <td>Чеснок, смесь перцев</td>
                <td>Комплексная вкусо-ароматическая композиция для производства мясных продуктов</td>
            </tr>
            <tr>
                <td><b>Галамикс Одесская комби</b></td>
                <td>Чеснок, смесь перцев</td>
                <td>Комплексная вкусо-ароматическая композиция для производства мясных продуктов</td>
            </tr>
             <tr>
                <td><b>Галамикс Охотничьи</b></td>
                <td>Чеснок, смесь перцев</td>
                <td>Комплексная вкусо-ароматическая композиция для производства мясных продуктов, в т.ч. "Охотничьих колбасок"</td>
            </tr>
             <tr>
                <td><b>Галамикс Охотничьи комби</b></td>
                 <td>Чеснок, смесь перцев</td>
                <td>Комплексная вкусо-ароматическая композиция для производства мясных продуктов, в т.ч. "Охотничьих колбасок"</td>
            </tr>
             <tr>
                <td><b>Галамикс Московская</b></td>
                 <td>Чеснок, смесь перцев</td>
                <td>Комплексная вкусо-ароматическая композиция для производства мясных продуктов</td>
            </tr>
           
        </table>

        <section class="section">
            <h2 class="section__title">Запросить каталог всех ингридиентов</h2>
            <div class="section__subtitle section__subtitle--gray">и мы предложим вам варианты<br> по улучшению свойств вашего продукта</div>
            //= form.html
        </section>
    </div>
</div>