<div class="popup-wrapper hidden popup1 solution-popup-1">
    <div class="popup1__content">
        <h2 class="popup1__title">Ингредиенты для копченых колбас</h2>
        <a class="close-btn" href="#"><img src="../img/close-icon.png"></a>

        <table>
            <tr>
                <th>Наименование</th>
                <th>Направление вкусa</th>
                <th>Назначение</th>
            </tr>
            <tr>
                <td><b>Галамикс Краковская</b></td>
                <td>перец, кориандр, мацис</td>
                <td>Комплексная вкусо-ароматическая композиция для полукопченых колбас типа Краковской</td>
            </tr>
            <tr>
                <td><b>Галамикс Краковская<br> комби</b></td>
                <td>перец, кориандр, мацис</td>
                <td>Комплексная вкусо-ароматическая композиция для полукопченых колбас типа Краковской</td>
            </tr>
            <tr>
                <td><b>Галамикс Венская</b></td>
                <td>перец, кориандр, мацис</td>
                <td>Комплексная вкусо-ароматическая композиция для полукопченых колбас типа Краковской</td>
            </tr>
            <tr>
                <td><b>Галамикс Венская комби</b></td>
                <td>перец, кориандр, мацис</td>
                <td>Комплексная вкусо-ароматическая композиция для полукопченых колбас типа Краковской</td>
            </tr>
            <tr>
                <td><b>Галамикс Готтингер</b></td>
                <td>перец, кориандр, мацис</td>
                <td>Комплексная вкусо-ароматическая композиция для полукопченых колбас типа Краковской</td>
            </tr>
            <tr>
                <td><b>Галамикс Сельская<br> Комби мускат, белый</b></td>
                <td>перец, кориандр, мацис</td>
                <td>Комплексная вкусо-ароматическая композиция для полукопченых колбас типа Краковской</td>
            </tr>
        </table>

        <section class="section">
            <h2 class="section__title">Запросить каталог всех ингридиентов</h2>
            <div class="section__subtitle section__subtitle--gray">и мы предложим вам варианты<br> по улучшению свойств вашего продукта</div>
            //= form.html
        </section>
    </div>
</div>