<div class="popup-wrapper hidden popup1 solution-popup-1">
    <div class="popup1__content">
        <h2 class="popup1__title">Препараты для вареных колбасных изделий</h2>
        <a class="close-btn" href="#"><img src="../img/close-icon.png"></a>

        <table>
            <tr>
                <th>Наименование</th>
                <th>Направление вкусa</th>
                <th>Назначение</th>
            </tr>
            <tr>
                <td><b>Галамикс Докторская комби</b></td>
                <td>кардамон, мускат</td>
                <td>Комбинация вкусо-ароматических и функциональных компонентов для производства колбас, сосисок и сарделек</td>
            </tr>
            <tr>
                <td><b>Галамикс Докторская</b></td>
                <td>мускат, мускатный цвет</td>
                <td>Комбинация вкусо-ароматических и функциональных компонентов для производства колбас, сосисок и сарделек</td>
            </tr>
            <tr>
                <td><b>Галамикс Молочная</b></td>
                <td>мускат, белый перец</td>
                <td>Комбинация вкусо-ароматических и функциональных компонентов для производства колбас, сосисок и сарделек</td>
            </tr>
            <tr>
                <td><b>Галамикс Молочная комби</b></td>
                <td>мускат, белый перец</td>
                <td>Комбинация вкусо-ароматических и функциональных компонентов для производства колбас, сосисок и сарделек</td>
            </tr>
            <tr>
                <td><b>Галамикс Любительская комби</b></td>
                <td>перец, мускат</td>
                <td>Комбинация вкусо-ароматических и функциональных компонентов для производства колбас, сосисок и сарделек</td>
            </tr>
            <tr>
                <td><b>Галамикс Любительская</b></td>
                <td>перец, мускат</td>
                <td>Комбинация вкусо-ароматических и функциональных компонентов для производства колбас, сосисок и сарделек</td>
            </tr>
            <tr>
                <td><b>Галамикс Русская комби</b></td>
                <td>перец, мускат, чеснок</td>
                <td>Комбинация вкусо-ароматических и функциональных компонентов для производства колбас, сосисок и сарделек</td>
            </tr>
            <tr>
                <td><b>Галамикс Русская</b></td>
                <td>перец, мускат, чеснок</td>
                <td>Комбинация вкусо-ароматических и функциональных компонентов для производства колбас, сосисок и сарделек</td>
            </tr>
             <tr>
                <td><b>Галамикс Отдельная</b></td>
                <td>перец, кориандр, чеснок</td>
                <td>Комбинация вкусо-ароматических и функциональных компонентов для производства вареных колбас типа "Телячья"</td>
            </tr>
            <tr>
                <td><b>Галамикс Сардельки комби</b></td>
                <td>чеснок, мускат, перец</td>
                <td>Комбинация вкусо-ароматических и функциональных компонентов для производства колбасных изделий из мяса кур механической обвалки (ММО)</td>
            </tr>
             <tr>
                <td><b>Галамикс Сосиски комби</b></td>
                <td>Перцы черный и красный</td>
                <td>Комбинация вкусо-ароматических и функциональных компонентов для производства колбас, сосисок и сарделек</td>
            </tr>
            <tr>
                <td><b>Галамикс Сосиски</b></td>
                <td>Перцы черный и красный</td>
                <td>Комплексная вкусо-ароматическая композиция для производства сосисок</td>
            </tr>
            <tr>
                <td><b>Сосиски Молочные</b></td>
                <td>Смесь перцев, мускат</td>
                <td>Комплексная вкусо-ароматическая композиция для сосисок типа Молочных высокого качества</td>
            </tr>
             <tr>
                <td><b>Галамикс Сосиски ММО</b></td>
                <td>Смесь перцев, молоко, мясо</td>
                <td>Комбинация вкусо-ароматических и функциональных компонентов для производства колбасных изделий из мяса кур механической обвалки (ММО)</td>
            </tr>
        </table>

        <section class="section">
            <h2 class="section__title">Запросить каталог всех ингридиентов</h2>
            <div class="section__subtitle section__subtitle--gray">и мы предложим вам варианты<br> по улучшению свойств вашего продукта</div>
            //= form.html
        </section>
    </div>
</div>