<div class="popup-wrapper hidden popup1 solution-popup-3">
    <div class="popup1__content">
        <h2 class="popup1__title">Препараты для сырокопченых и сыровяленных мясных продуктов</h2>
        <a class="close-btn" href="#"><img src="../img/close-icon.png"></a>

        <table>
            <tr>
                <th>Наименование</th>
                <th>Направление вкусa</th>
                <th>Назначение</th>
            </tr>
            <tr>
                <td><b>Галатин РСМ</b></td>
                <td>перец черный, можевельник</td>
                <td>Препарат для созревания, стабилизации цвета и аромата для сырокопченых продуктов (для сухого посола)</td>
            </tr>
            <tr>
                <td><b>Галаблиц Рустикаль</b></td>
                <td>Чеснок, перец, кориандр, кардамон, мускат, гвоздика, можжевельник</td>
                <td>Комбинация вкусо-ароматических и функциональных компонентов для производства сырокопченых и сыровяленых колбас. Типа КНАКЕР</td>
            </tr>
            <tr>
                <td><b>Галамикс Брауншвейгская</b></td>
                <td>перец, мускат, кардамон</td>
                <td>Комбинация вкусо-ароматических и функциональных компонентов для производства сырокопченых и сыровяленых колбас.</td>
            </tr>
            <tr>
                <td><b>Галамикс Зернистая</b></td>
                <td>смесь перцев, имбирь, чеснок</td>
                <td>Комбинация вкусо-ароматических и функциональных компонентов для производства сырокопченых и сыровяленых колбас </td>
            </tr>
            <tr>
                <td><b>Галамикс Салями</b></td>
                <td>смесь перцев, кардамон</td>
                <td>Комбинация вкусо-ароматических и функциональных компонентов для производства сырокопченых и сыровяленых колбас </td>
            </tr>
            <tr>
                <td><b>Галамикс Сервелат</b></td>
                <td>смесь перцев, мускат, кардамон</td>
                <td>Комбинация вкусо-ароматических и функциональных компонентов для производства сырокопченых и сыровяленых колбас.</td>
            </tr>
            <tr>
                <td><b></b></td>
                <td></td>
                <td></td>
            </tr>
            
        </table>

        <section class="section">
            <h2 class="section__title">Запросить каталог всех ингридиентов</h2>
            <div class="section__subtitle section__subtitle--gray">и мы предложим вам варианты<br> по улучшению свойств вашего продукта</div>
            //= form.html
        </section>
    </div>
</div>