<div class="popup-wrapper hidden popup1 solution-popup-5">
    <div class="popup1__content">
        <h2 class="popup1__title">Желирующие препараты</h2>
        <a class="close-btn" href="#"><img src="../img/close-icon.png"></a>

        <table>
            <tr>
                <th>Наименование</th>
                <th>Направление вкусa</th>
                <th>Назначение</th>
            </tr>
            <tr>
                <td><b>Гала Аспик</b></td>
                <td>лимон</td>
                <td>Эффективная желирующая добавка для производства зельцев, студней, заливных</td>
            </tr>
           <tr>
                <td><b>Гала Аспик чеснок </b></td>
                <td>чеснок</td>
                <td>Эффективная желирующая добавка для производства зельцев, студней, заливных</td>
            </tr>
            <tr>
                <td><b>Гала Аспик говядина</b></td>
                <td>говядина</td>
                <td>Эффективная желирующая добавка для производства зельцев, студней, заливных</td>
            </tr>
            <tr>
                <td><b>Гала Аспик свинина</b></td>
                <td>свинина</td>
                <td>Эффективная желирующая добавка для производства зельцев, студней, заливных</td>
            </tr>
            <tr>
                <td><b>Гала Аспик птица</b></td>
                <td>птица</td>
                <td>Эффективная желирующая добавка для производства зельцев, студней, заливных</td>
            </tr>
             <tr>
                <td><b>Гала Аспик пряный</b></td>
                <td>перец, лавр</td>
                <td>Эффективная желирующая добавка для производства зельцев, студней, заливных</td>
            </tr>
            
        </table>

        <section class="section">
            <h2 class="section__title">Запросить каталог всех ингридиентов</h2>
            <div class="section__subtitle section__subtitle--gray">и мы предложим вам варианты<br> по улучшению свойств вашего продукта</div>
            //= form.html
        </section>
    </div>
</div>