<div class="popup-wrapper hidden popup1 solution-popup-7">
    <div class="popup1__content">
        <h2 class="popup1__title">Рассольные препараты</h2>
        <a class="close-btn" href="#"><img src="../img/close-icon.png"></a>

        <table>
            <tr>
                <th>Наименование</th>
                <th>Направление вкусa</th>
                <th>Назначение</th>
            </tr>
            <tr>
                <td><b>Галактисол 20</b></td>
                <td>без вкуса</td>
                <td>Препарат для инъектирования и тендеризации мясного сырья, в том числе домашней птицы с выходом + 20 %</td>
            </tr>
           <tr>
                <td><b>Галактисол 40</b></td>
                <td>без вкуса</td>
                <td>Препарат для инъектирования и тендеризации мясного сырья, в том числе домашней птицы с выходом + 40 %</td>
            </tr>
             <tr>
                <td><b>Галактисол 60</b></td>
                <td>мясной</td>
                <td>Препарат для инъектирования и тендеризации мясного сырья, в том числе домашней птицы с выходом + 60 %</td>
            </tr>
             <tr>
                <td><b>Галактисол 90</b></td>
                <td>мясной</td>
                <td>Смесь для шприцевания с высокофункциональными ингредиентами с выходами от 160 до 190%</td>
            </tr>
             <tr>
                <td><b>Галактисол 100</b></td>
                <td>мясной</td>
                <td>Смесь для шприцевания с высокофункциональными ингредиентами с выходами около 200%</td>
            </tr>
             <tr>
                <td><b> Галамикс Ветчина 150</b></td>
                <td>без вкуса</td>
                <td>Смесь для массирования мясного сырья с ввыходом 150% готового продукта</td>
            </tr>
            <tr>
                <td><b> Галамикс Ветчина 200</b></td>
                <td>без вкуса</td>
                <td>Смесь для массирования мясного сырья с ввыходом 200% готового продукта</td>
            </tr>
            <tr>
                <td><b> Галамикс Ветчина 250</b></td>
                <td>Мясной, мускат, имбирь</td>
                <td>Смесь для массирования мясного сырья с ввыходом 250% готового продукта</td>
            </tr>
            
        </table>

        <section class="section">
            <h2 class="section__title">Запросить каталог всех ингридиентов</h2>
            <div class="section__subtitle section__subtitle--gray">и мы предложим вам варианты<br> по улучшению свойств вашего продукта</div>
            //= form.html
        </section>
    </div>
</div>