<section class="section" id="recipes">
        <div class="container">
            <div class="row">
                <h4 class="section__title section__title--secondary">Мы разрабатываем</h4>
                <h2 class="section__title section__title--primary">рецепты "под ключ"</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 recipes-type">
                    <i class="resipes-type__icon icon icon-icon1"></i>
                    <p class="resipes-type__description">Изготавливаем рецепты, исходя из индивидуальных предпочтений заказчика</p>
                </div>
                <div class="col-lg-3 recipes-type">
                    <i class="resipes-type__icon icon icon-icon2"></i>
                    <p class="resipes-type__description">Большой выбор готовых решений рецептов для мясной продукции</p>
                </div>
                <div class="col-lg-3 recipes-type">
                    <i class="resipes-type__icon icon icon-icon3"></i>
                    <p class="resipes-type__description">Используем как органические, так и неорганические ингредиенты</p>
                </div>
                <div class="col-lg-3 recipes-type">
                    <i class="resipes-type__icon icon icon-icon4"></i>
                    <p class="resipes-type__description">Мы решаем даже трудновыполнимые задачипо разработке рецептов для вашей продукции</p>
                </div>
            </div>
        </div>
</section>