<section class="section recipes-list" id="recipes">
    <div class="container">
        <div class="row">
            <div class="section__subtitle section__subtitle--gray">Мы разрабатываем</div>
            <h2 class="section__title">рецепты "под ключ"</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 recipes-type">
                <img class="recipes-type__icon" src="../img/icon1.svg">
                <p class="resipes-type__description">Изготавливаем рецепты, исходя из индивидуальных предпочтений заказчика</p>
            </div>
            <div class="col-lg-3 recipes-type">
                <img class="recipes-type__icon" src="../img/icon2.svg">
                <p class="resipes-type__description">Большой выбор готовых решений рецептов для мясной продукции</p>
            </div>
            <div class="col-lg-3 recipes-type">
                <img class="recipes-type__icon" src="../img/icon3.svg">
                <p class="resipes-type__description">Используем как органические, так и неорганические ингредиенты</p>
            </div>
            <div class="col-lg-3 recipes-type">
                <img class="recipes-type__icon" src="../img/icon4.svg">
                <p class="resipes-type__description">Мы решаем даже трудновыполнимые задачипо разработке рецептов для вашей продукции</p>
            </div>
        </div>
    </div>
</section>