<section class="section" id="solutions">
    <div class="container">
        <div class="row">
            <h2 class="section__title">Наши готовые решения</h2>
            <div class="section__subtitle section__subtitle--gray">для различных мясных продуктов</div>
        </div>
        <div class="row">
            <figure class="solution col-3">  
                <div class="solution__img-block">
                    <img class="solution__img" src="img/img1.png" alt="Вареные колбасы, сосиски и сардельки">
                    <img class="solution__img" src="img/img2.png" alt="Вареные колбасы, сосиски и сардельки">
                </div>

                <figcaption class="solution__desc">Вареные колбасы,<br>сосиски и сардельки</figcaption>
                <a class="solution__btn" href="#">посмотреть подробнее</a>
            </figure>
            <figure class="solution col-3">
                <div class="solution__img-block">
                    <img class="solution__img" src="img/img3.png" alt="Полукопчёные, варено-копченые колбасы и колбаски гриль">
                </div>

                <figcaption class="solution__desc">Полукопчёные,<br> варено-копченые колбасы<br> и колбаски гриль</figcaption>
                <a class="solution__btn" href="#">посмотреть подробнее</a>
            </figure>
            <figure class="solution col-3">
                <div class="solution__img-block">
                    <img class="solution__img img1" src="img/img4.png" alt="Сырокопченые продукты">
                    <img class="solution__img img2" src="img/img4.png" alt="Сырокопченые продукты">
                </div>

                <figcaption class="solution__desc">Сырокопченые продукты</figcaption>
                <a class="solution__btn" href="#">посмотреть подробнее</a>
            </figure>
            <figure class="solution col-3">
                <div class="solution__img-block">
                    <img class="solution__img" src="img/img5.png" alt="Паштеты и ливерные колбасы">
                </div>

                <figcaption class="solution__desc">Паштеты<br> и ливерные колбасы</figcaption>
                <a class="solution__btn" href="#">посмотреть подробнее</a>
            </figure>
        </div>
        <div class="row">
            <figure class="solution col-lg-3">
                <div class="solution__img-block">
                    <img class="solution__img" src="img/img6.png" alt="Продукты в желе: заливные, зельцы, студни и рулеты">
                </div>

                <figcaption class="solution__desc">Продукты в желе: заливные,<br> зельцы, студни и рулеты</figcaption>
                <a class="solution__btn" href="#">посмотреть подробнее</a>
            </figure>
            <figure class="solution col-lg-3">
                <div class="solution__img-block">
                    <img class="solution__img" src="img/img7.png" alt="Шприцевание полуфабрикатов размягчение шкурки и подготовка оболочки">
                </div>

                <figcaption class="solution__desc">Шприцевание полуфабрикатов<br> размягчение шкурки<br> и подготовка оболочки</figcaption>
                <a class="solution__btn" href="#">посмотреть подробнее</a>
            </figure>
            <figure class="solution col-lg-3">
                <div class="solution__img-block">
                    <img class="solution__img" src="img/img8.png" alt="Копчености и ветчины">
                </div>

                <figcaption class="solution__desc">Копчености и ветчины</figcaption>
                <a class="solution__btn" href="#">посмотреть подробнее</a>
            </figure>
            <figure class="solution col-lg-3">
                <div class="solution__img-block">
                    <img class="solution__img" src="img/img9.png" alt="Рубленные полуфабрикаты и пельмени">
                </div>

                <figcaption class="solution__desc">Рубленные полуфабрикаты<br> и пельмени</figcaption>
                <a class="solution__btn" href="#">посмотреть подробнее</a>
            </figure>
        </div>
    </div>
</section>