<section class="section dev-stages" id="stages">
    <div class="container">
        <div class="row">
            <h2 class="section__title">Как мы разрабатываем рецепты?</h2>
        </div>
        <ul class="slider">
            <li class="slide">
                <i class="slide__icon icon icon-icon1"></i>
                <p class="slide__desc">Обсуждаем с клиентом наличие неудовлетворённости по используемым добавкам (стабильно ли и качественные показатели
                    конечной продукции, есть ли заинтересованность в удешевлении конечного продукта и другое)</p>
            </li>
            <li class="slide">
                <i class="slide__icon icon icon-icon2"></i>
                <p class="slide__desc">Обсуждаем с клиентом наличие неудовлетворённости по используемым добавкам (стабильно ли и качественные показатели
                    конечной продукции, есть ли заинтересованность в удешевлении конечного продукта и другое)</p>
            </li>
        </ul>
        <div class="controls">
            <div class="control control--left"></div>
            <div class="control control--right"></div>
        </div>
    </div>
    <img id="left-img" src="img/pepper3.png" alt="pepper">
    <img id="right-img" src="img/greenery3.png" alt="greenery">
</section>