<section class="section dev-stages" id="stages">
    <div class="container">
        <div class="row">
            <h2 class="section__title">Как мы разрабатываем рецепты?</h2>
        </div>
        <ul class="slider col-lg-8">
            <li class="slide">
                <img class="slide__icon" src="../img/icon1.svg">
                <p class="slide__desc">Обсуждаем с клиентом наличие неудовлетворённости по<br> используемым добавкам (стабильно ли и качественные
                    показатели
                    <br> конечной продукции, есть ли заинтересованность в удешевлении<br> конечного продукта и другое)
                </p>
            </li>
            <li class="slide">
                <img class="slide__icon" src="../img/icon3.svg">
                <p class="slide__desc">Обсуждаем с клиентом наличие неудовлетворённости по<br> используемым добавкам (стабильно ли и качественные
                    показатели
                    <br> конечной продукции, есть ли заинтересованность в удешевлении<br> конечного продукта и другое)
                </p>
            </li>
        </ul>
        <div class="controls">
            <a class="control control--left icon" href="#">
                <i class="icon icon-prev"></i>
            </a>
            <a class="control control--right icon" href="#">
                <i class="icon icon-next"></i>
            </a>
        </div>
    </div>
    <div class="hidden-md hidden-sm hidden-xs">
        <img id="left-img" src="img/pepper3.png" alt="pepper">
        <img id="right-img" src="img/greenery3.png" alt="greenery">
    </div>

</section>